// ABSTRACTS VARIABLES
// COLORS
// =================================================

// SHADES OF GRAY
// ------------------
$color-white: #ffffff;
$color-ghost: #f2f2f2;
$color-light: #e1e1e1;
$color-silver: #b2b2b2;
$color-gray: #808080;
$color-metal: #404040;
$color-carbon: #2a2a2a;
$color-dark: #1f1f1f;
$color-black: #000000;

// VUE
// ------------------
$color-brand-vue-1: #42b983;
$color-brand-vue-2: #273849;
$color-brand-vue-3: #ffffff;
$color-brand-vue-4: #f3ec78;

// BRAND
// ------------------
$color-brand-1: #73dee4;
$color-brand-2: #5893ed;
$color-brand-3: #f6a887;
$color-brand-4: #ffe69e;

// STATUS
// ------------------
$color-error: #f58688;
$color-success: #64bdbd;
$color-info: #f3ec78;
